/* -------------------------For signup form------------------------------ */
body {
    background-image: url('sunflower2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    background-color: rgb(235, 223, 89);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-left: 400px;
    margin-right: 400px;
    height: 500px;
    line-height: 30px;
}

* {
    font-family: verdana;
    box-sizing:border-box;
}

.form {
    align-items: left;
}

.group {
    font-size:small;
    font-weight: bold;
    border: none;
    margin: 25px;
    justify-content: space-evenly;
}

#title {
    align-items: center;
}

#e {
    padding-left: 70px;
}